body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    

}
.navbar img{
    width: 150px;
    height: 50px;
}
.btn-success{
    border-radius: 33px;

}
container{
    margin-bottom: 100px;
    padding: 20px 40px;

}
.banner-top{
   
    background-color: #f0fFf0;
    padding-top: 100px;
}
.img-banner img{
    width: 550px;
}
.courses img{
    width: 100px;
    height: 100px;


}

.cat1, .cat2, .cat3, .cat4{
    background-color: #f0fFf0;
    padding: 30px 80px;
    border-radius: 10px;
    height: 250px;
}
.container{
    margin-bottom: 100px;
    
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer{
    background-color: white;
    border-top: none;
}
h3{
    text-align: center;
}
.card-footer img{
    width: 20px;
}
.no-gutters img{
    width: 130px;
}

.other{
    padding: 0px 200px;
}
.footer{
    background-color: black;
    width: 1000px;
    height:21000;
}